
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<p>Fecha:@ViewData["Fecha"].ToString()</p>
<!--publica las carreras tecnicas, uso de estilos 

donde se visualiza 3 bloques por fila (display:grid)-->

<div class="wrapper">

    <article class="wrapper-item">
        <img src="~/imagenes/ci.jpg" />
        <em>Computacion e Informatica</em>
    </article>

    <article class="wrapper-item">
        <img src="~/imagenes/comunicaciones.jpg" />
        <em>Comunicaciones y Marketing</em>
    </article>

    <article class="wrapper-item">
        <img src="~/imagenes/diseño.jpg" />
        <em>Publicidad y diseño</em>
    </article>

    <article class="wrapper-item">
        <img src="~/imagenes/gestion.jpg" />
        <em>Administracion y Negocios</em>
    </article>

    <article class="wrapper-item">
        <img src="~/imagenes/redes.jpg" />
        <em>Redes y Comunicaciones</em>
    </article>

    <article class="wrapper-item">
        <img src="~/imagenes/ci.jpg" />
        <em>Computacion e Informatica</em>
    </article>

</div>

